
@{
    ViewBag.Title = "Result";
}

<h1>StarSubs Receipt</h1>

<p>Type of Sub: @ViewData["sub_type"]</p>
<p>Size of Sub: @ViewData["sub_size"]</p>
<p>Type of Meal Deal: @ViewData["meal_type"]</p>
<p>Total Price of Sub: @ViewData["sub_price"]</p>
<p>Price of Meal Deal: @ViewData["meal_price"]</p><br/><br/>
<p>Cost: @ViewData["cost"]</p>
<p>Tax: @ViewData["tax"]</p>
<p>Total for single meal: @ViewData["total"]</p>
<p>Final Total: @ViewData["final_result"]</p>